{{ attach_library('training_theme/card') }}

<article class="card{{ modifier ? ' ' ~ modifier }}">
  <div class="card__media">
    {% if image %}
      {{ image }}
    {% elseif video %}
      {{ video }}
    {% endif %}
    <span class="card__media-caption">
      {{ caption }}
    </span>
  </div>

  <div class="card__content">
    {% if eyebrow %}
      {%
        include '@training_theme/eyebrow/eyebrow.twig' with {
          "text": eyebrow,
          "modifier": "card__eyebrow"
        } only
      %}
    {% endif %}

    {% if heading %}
      {%
        include '@training_theme/heading/heading.twig' with {
          "heading": heading
        } only
      %}
    {% endif %}

    {% if subheading %}
      {%
        include '@training_theme/heading/heading.twig' with {
          "heading": subheading
        } only
      %}
    {% endif %}

    {% if text %}
      <div class="card__summary">
        {{ text }}
      </div>
    {% endif %}

    {% if cta.url %}
      <a href="{{ cta.url }}" class="card__link">{{ cta.text }}</a>
    {% endif %}
  </div>

</article>
